body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: #666666;
    background: #33414c;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

    /* Header */

.header {
    
}

.container {
    margin: 0 auto;
    position: relative;
    display: block;
}

.header__menu {
    height: 100%;
    width: 100px;
    background: #666;
    position: fixed;  
}

.header__logo {
    background: url("../img/logo.png") no-repeat;
    width: 80px;
    height: 80px;
    position: fixed;
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.header__logo:hover {
    opacity: 0.6;
    transition:  opacity 0.2s linear;
}

.nav{
    margin-top: 150px;
    position: relative;
}

.header__link1 {
    display: list-item;
    text-decoration: none;
    background: #fff;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/model.png") no-repeat;
    background-size: contain;
}

.header__link2 {
    
}

#m1 {
    font-size: 18px;
    text-align: center;
    color: silver;
    margin-top: 0px;
}

.header__link1:hover {
    animation: bounce 0.8s;
}

@keyframes bounce {
 0%, 20%, 60%, 100% {
 -webkit-transform: translateY(0);
 transform: translateY(0);
 }
 
 40% {
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 }
 
 80% {
 -webkit-transform: translateY(-10px);
 transform: translateY(-10px);
 }
}