body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: #666666;
    background: #33414c;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

    /* Header */

.header {
    
}

.container {
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: auto;
}

.header__menu {
    height: 100%;
    width: 100px;
    background: #666;
    position: fixed; 
}

.header__logo {
    background: url("../img/logo.png") no-repeat;
    width: 80px;
    height: 80px;
    position: fixed;
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.header__logo:hover {
    opacity: 0.6;
    transition:  opacity 0.2s linear;
}

.nav{
    margin-top: 150px;
    position: relative;
}

.header__link1 {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/model.png") no-repeat;
    background-size: contain;
}

.header__link2 {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/drive.png") no-repeat;
    background-size: contain;
}

.header__link3 {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/configurator.png") no-repeat;
    background-size: contain;
}

.header__link4 {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/special.png") no-repeat;
    background-size: contain;
}

.header__link5 {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/service.png") no-repeat;
    background-size: contain;
}

.header__link6 {
    display: block;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: url("../img/more.png") no-repeat;
    background-size: contain;
}

#mn {
    font-size: 14px;
    text-align: center;
    color: #dcdcdc;
    margin-top: 0px;
}

.header__link1:hover {
    animation: bounce 0.8s;
}

.header__link2:hover {
    animation: rotate360 0.8s;
}

.header__link3:hover {
    animation: left_right 0.8s;
}

.header__link4:hover {
    animation: rotate90 0.8s;
}

.header__link5:hover {
    animation: up_down 0.8s;
}

.header__link6:hover {
    animation: bounce 0.8s;
}

    /* Slaider */

.slaider img {
    margin: 0;
    width: 100%;
    position: static;
    padding-left: 100px;
}



    /* Animations */

@keyframes up_down {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes left_right {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes rotate90 { 
    0% { 
        transform: rotate(0deg); 
    }
    50% { 
        transform: rotate(65deg); 
    }
    100% { 
        transform: rotate(0deg); 
    }
}

@keyframes rotate360 { 
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(360deg); 
    } 
}

@keyframes bounce {
 0%, 20%, 60%, 100% {
 transform: translateY(0);
 }
 
 40% {
 transform: translateY(-20px);
 }
 
 80% {
 transform: translateY(-10px);
 }
}